
body {
	background-image: linear-gradient(#FF7E70, #e4fbf6);
	height: 100vh;

}


.backgroundGenerator {
	font-size: 1em;
	font-weight: 600px;
	background-color: whitesmoke;
	width: fit-content;

}

