

body {
	margin: auto 0;
	background-color: #e4fbf6;
	font-family: 'Exo', sans-serif;

}

body .item {
		height: 100vh;
}

p {
	font-weight: 300;
	font-size: 1.1em;
	color: #1a2626;
	font-weight: 400;
	text-align: left;
}



.buffer {
	height: 20px;
}

.buffer-big {
	height: 80px;
}


/* ========= NAV ========= */

.navbar {
	font-weight: 500;
	background-image: linear-gradient(#1a2626, rgba(84, 105, 106, 0.8));
	display: flex;
	list-style: none;
	font-size: 1.1em;
	margin: 0;
}


@media only screen and (max-width:  600px) {
	.navbar {
		font-size: 0.8em;
	}
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}


.navlastPush {
	margin-left: auto;
}

nav li {
padding: 20px;

}

nav a {
	color: #e4fbf6;
	text-decoration: none;
}

nav a:hover {
	color: #FF7E70;
}

.navbarActive {
	color: #FF7E70;
	font-weight: 500;
	text-decoration: overline;
}


/* ========= CONTENT CONTAINER ========= */


.container {
	align-items: center;
	margin: 50px;

}


/* ========= COVER ========= */


.cover {
	display:  flex;
	align-items: center;
	height: auto;
	height: 70vh;
}

.cover-bg {
	background-image: url("images/main-bg.jpeg");
	background-size: cover;
	background-position: center;
}


.cover-title {
	font-family: 'Special Elite', cursive;
	line-height: 120%;
	font-size: 2.7em;
	color: #FF7E70;
	margin: 50px;
	padding: 10px;
	justify-content: safe left;
	background-color: rgba(84, 105, 106, 0.7);
	width: 65vw;

}

@media only screen and (max-width:  600px) {
	.cover-title {
		font-size: 1.7em; }
}



/* ========= ABOUT ========= */

.intro {
	display: grid;
	gap: 10px;
	align-items: center;
	justify-content: center;
	margin: 20px 40px;
}

.about {
	grid-template-columns: 2fr 1fr;
	justify-content: center;
	align-items: center;

}

@media only screen and (max-width:  700px) {
	.intro {
		grid-template-columns: 1fr; }
}


.photoAbout > img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 80%;
}



/* ========= PROJECTS ========= */

.projectGrid {
	display: grid;
	gap:  1px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.projectBox {
	padding: 10px;
	margin: 10px;
	background-color: #54696a;

}

.projectBox > img {
	display: block;
	width: 289px;
	height: 289px;
	object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}


.projectBox:hover {
	background-color: #FF7E70;

}

.projectBgGrad img:hover {
	background-image: url(images/proj/projectBgGrad.png);
	display: block;
	object-fit: cover;
	opacity: 0.5;
}


/* ========= ICONS ========= */

/*.img-th {
	padding: 0 40px;
}

.img-th:hover {
	background-image: radial-gradient(circle, rgba(84, 105, 106, 0.6), rgba(255, 255, 255, 0.2), transparent);
}

.txt-th {
	padding: 10px 0;
	text-align: center;
}


.info {
	grid-template-columns: repeat(3, 1fr);
}

.info >img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 100%;
}*/

/* ========= BUTTON ========= */

/*button {
  border: 2px, solid;
  border-color: #54696a;
  background-color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 20px;
  padding: 7px 12px;
  cursor: pointer;
}

button:hover {
	border-color: #FF7E70;


}

.but-text {
	color: #1a2626;
	font-family: 'Exo', sans-serif;
}
*/


/* ========= FOOTER ========= */

footer {
	font-weight: 500;
	display: flex;
  	justify-content: center;
 	align-items: center;
	background-color: #1a2626;
	color: #e4fbf6;
	height: 50px;
	font-size: 0.8em;
}

.footerSticky {
	position: fixed;
	bottom: 0;
	width: 100%;
}



